<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css" >
    <title>CEO Interview</title>
</head>
    <body>
        <section class="section">
            <div class="container">
            <h1 class="title">
                CEO Interview
            </h1>
            <h2 class = 'subtitle'>
                Notiere alle Infos aus der Antwort und fuege ggfs. eine Einschaetzung zur Glaubwuerdigkeit hinzu.    
            </h2>
            </div>
        </section>
        <section>
            <form method="post">
                <box>
                <div>Wie viele Angestellte arbeiten in Ihrer Firma?</div>
                <textarea class ='textarea' type="text" name="Wie viele Angestellte arbeiten in Ihrer Firma?" placeholder="Notiz zu Antwort"> </textarea>
                <select name="Glaubhaftigkeit">
                    <option value="unglaubwuerdig">unglaubwuerdig</option>
                    <option value="glaubwuerdig">glaubwuerdig</option>
                    <option value="unklar">unklar</option>
                </select>
                <input type="submit" value="Eintragen">
                </box>
            </form>
            <br>
            <form method="post">
                <box>
                <div>Bezahlen Sie Steuern?</div>
                <textarea class ='textarea' type="text" name="Bezahlen Sie Steuern??" placeholder="Notiz zu Antwort"></textarea>
                <select name="Glaubhaftigkeit">
                    <option value="unklar">unklar</option>
                    <option value="unglaubwuerdig">unglaubwuerdig</option>
                    <option value="glaubwuerdig">glaubwuerdig</option>
                </select>
                <input type="submit" value="Eintragen">
                </box>
            </form>
            <br>
            <form method="post">
                <box>
                <div>Sind ihre Angestellten alle versichert?</div>
                <textarea class ='textarea' type="text" name="Bezahlen Sie Steuern??" placeholder="Notiz zu Antwort"></textarea>
                <select name="Glaubhaftigkeit">
                    <option value="unklar">unklar</option>
                    <option value="unglaubwuerdig">unglaubwuerdig</option>
                    <option value="glaubwuerdig">glaubwuerdig</option>
                </select>
                <input type="submit" value="Eintragen">
                </box>
            </form>
        </section>
    </body>
</html>