{% extends 'base.html' %}

{% block title %}Tag 2 - Interview & Dokumente{% endblock %}

{% block content %}
    <body>
        <section class="section">
            <div class="container">
            <h1 class="title">
                Era Digitalis 
            </h1>
            <h2 class = 'subtitle'>
                Diese App begleitet den ISO 90001 Qualitätsmanagement-Prozess.     
            </h2>
            </div>
        </section>
        <section>
                <box>
                <div class='subtitle'>Welcher Kunde wird betreut?</div>
                <div class ='textContent'> 
                    Es ist in sämtlichen Sektionen immer oben auszuwählen, für welchen existierenden Kunden die Daten gepflegt werden. 
                    Dies erlaubt die korrekte Zuordnung der Daten. 
                </div>
                </box>
            <br>
                <box>
                    <div class='subtitle'>Navigation</div>
                    <div class ='textContent'> 
                    Über das Seitenmenü links kann zwischen den unterschiedlichen Sektionen hin und her navigiert werden. 
                    Falls Dateneintragungen geschehen sind, sollten diese via den Speichern Button, an die Datenbank geschickt werden. 
                    </div>
                </box>
            <br>
                <box>
                    <div class='subtitle'>Prototyp Status</div>
                    <div class ='textContent'> 
                    Diese Anwendung ist noch im Alpha Status und teilweise wird an den Endanwender nicht kommuniziert, was im Backend passiert. 
                    Dateneintragungen und deren Übergabe an die Datenbank kann via die Admin Sektion überprüft werden. 
                    </div>
                </box>
            <br>
                <box>
                    <div class='subtitle'>Feedback Optionen</div>
                    <div class ='textContent'> 
                    Feedback an der App ist gewünscht und kann gerne so konkret wie möglich an eradigitalis@mail.com geschickt werden. 
                    Ggfs. sind Screenshots von möglichen Problemen hilfreich um das Problem für die Techniker verständlich zu erläutern. 
                    </div>
                </box>
            <br>

        </section>
    </body>

{% endblock %}