<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css" >
    <title>CEO Interview</title>
</head>
    <body>
        <section class="section">
            <div class="container">
            <h1 class="title">
                CEO Interview
            </h1>
            <h2 class = 'subtitle'>
                Notiere alle Infos aus der Antwort und fuege ggfs. eine Einschaetzung zur Glaubwuerdigkeit hinzu.    
            </h2>
            </div>
        </section>
        <section>
            <form method="post">
                <box>
                <div>Welcher Kunde wird betreut?</div>
                <input class ='input is-primary' name="client" placeholder="testClient"> </input>
                </box>
            <br>
                <box>
                <div>Wie viele Angestellte arbeiten in Ihrer Firma?</div>
                <textarea class ='textarea' type="text" name="Q1" placeholder="Notiz zu Antwort"> </textarea>
                </box>
            <br>
                <box>
                <div>Bezahlen Sie Steuern?</div>
                <textarea class ='textarea' type="text" name="Q2" placeholder="Notiz zu Antwort"></textarea>
                </box>
            <br>
                <box>
                <div>Sind ihre Angestellten alle versichert?</div>
                <textarea class ='textarea' type="text" name="Q3" placeholder="Notiz zu Antwort"></textarea>
                </box>
            <br>
                <input class='button' type="submit" value="Absenden">
            </form>

        </section>
    </body>
</html>