<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css">
    <title>Add Client</title>
</head> -->

{% extends 'base.html' %}

{% block title %}Tag 2 - Interview & Dokumente{% endblock %}

{% block content %}

<body>
    <div class="columns is-vcentered" style="height:100vh;">
        <!-- Sidebar
        <div class="column is-2">
            <aside class="menu">
                <p class="menu-label">Home</p>
                <ul class="menu-list">
                    <li><a href="{{ url_for('about')}}">Landing Page</a></li>
                    <li><a href="{{ url_for('about')}}">About</a></li>
                    <li><a href="{{ url_for('admin')}}">Contact</a></li>
                </ul>
                <p class="menu-label">ISO Prozess</p>
                <ul class="menu-list">
                    <li><a href="{{ url_for('add_client')}}">Neuer Kunde</a></li>
                    <li><a href="{{ url_for('begehung')}}">Begehung</a></li>
                </ul>
            </aside>
        </div> -->

        <!-- Main Content -->
        <div class="column is-10">
            <!-- Form starts here -->
            <form method="post">
                <!-- Client Name Input -->
                <div class="box">
                    <div class="field">
                        <label class="label">Name des Unternehmens</label>
                        <div class="control">
                            <input class="input is-primary" type="text" name="client" placeholder="testClient">
                        </div>
                    </div>
                </div>

                <!-- Two Columns with Three Rows Each -->
                <div class="columns">
                    <!-- Left Column -->
                    <div class="column is-6">
                        <div class="box">
                            <div class="field">
                                <label class="label">Gesellschaftsform</label>
                                <div class="control">
                                    <textarea class="textarea" name="Q1" placeholder="GmbH"></textarea>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Geschaeftsfuehrer</label>
                                <div class="control">
                                    <textarea class="textarea" name="Q2" placeholder="Peter Enis"></textarea>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Ansprechpartner</label>
                                <div class="control">
                                    <textarea class="textarea" name="Q3" placeholder="Kontaktperson"></textarea>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Hauptsitz ggf. Nebensitz</label>
                                <div class="control">
                                    <textarea class="textarea" name="Q4" placeholder="Köpenicker Straße 76, Brückenstraße 1, 10179 Berlin, Germany
                                    "></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Right Column -->
                    <div class="column is-6">
                        <div class="box">
                            <div class="field">
                                <label class="label">Addresse</label>
                                <div class="control">
                                    <textarea class="textarea" name="Q5" placeholder="Ort"></textarea>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Telefon</label>
                                <div class="control">
                                    <textarea class="textarea" name="Q6" placeholder="GmbH"></textarea>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Mail</label>
                                <div class="control">
                                    <textarea class="textarea" name="Q7" placeholder="bauss1@gmail.com"></textarea>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Teil eines Konzerns?</label>
                                <div class="control">
                                    <textarea class="textarea" name="Q8" placeholder="Selbststaendig"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Submit Button -->
                <div class="field is-grouped">
                    <div class="control">
                        <input class="button is-primary" type="submit" value="Speichern">
                    </div>
                </div>
            </form>
            <!-- Form ends here -->
        </div>
    </div>
</body>
 
{% endblock %}
