{% extends 'base.html' %}

{% block title %} Hackathon Tests {% endblock %}



{% block content %}

<!-- Predefined Question 1 -->
<form method="post">
    <div class="box">
        <div class="field">
            <label class="label">Frage 1: Wie ist Ihr Unternehmen rechtlich strukturiert?</label>
            <div class="control">
                <textarea class="textarea" name="question_1"></textarea>
            </div>
        </div>
    </div>
    <div class="field is-grouped">
        <div class="control">
            <input class="button is-primary" type="submit" value="Speichern">
        </div>
    </div>
</form>



{% endblock %}