<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css" >
    <title>ICA</title>
</head>
    <body>
    <section class="section">
        <div class="container">
        <h1 class="title">
            ISO 9001 companion app (ICA)
        </h1>
        <h2 class = 'subtitle'>
            ICA hilft Ihnen dabei anderen zum ISO 9001 Zertifikat zu verhelfen.   
        </h2>
        </div>
    </section>
    <section class="section">
    <div class="container">
        <div class= "box">
            Hier gibt's richtig wichtiges zu sagen. 
        </div> 
    </div>
    </section>

    </body>
<aside class="menu">
    <p class="menu-label">Home</p>
    <ul class="menu-list">
        <li><a>landing page</a></li>
        <li><a>about</a></li>
        <li><a>contact</a></li>
    </ul>
    <p class="menu-label">ISO Prozess</p>
    <ul class="menu-list"> 
        <li><a>CEO Interview</a></li>
        <li><a>Arbeitsraum Besuch</a></li>
    </ul>
</aside>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <footer class="footer">
        <div class="content has-text-centered">
            Still a prototype, do not use in production environment.  
        </div>
    </footer>
</html>