{% extends 'base.html' %}

{% block head %}

<!-- space for styling just for this template -->



{% endblock %}

{% block title %}Tag 2 - Interview & Dokumente{% endblock %}

{% block content %}



<body>
    <h1 class='title'>
        Picco's Raum 
    </h1>
    <h2 class='subtitle'>
        Hier gibt es all die gesammelten Infos in einer Uebersicht. 
    </h2>

<form method="post" action="/admin">
    <!-- Kundenauswahl -->
    <div class="box">
        <div class="field">
            <label class="label">Kunde auswählen</label>
            <div class="control">
                <div class="select is-primary">
                    <select name="dropdown_option">
                        {% for client in clients %}
                        <option value="{{ client }}">{{ client }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <input type="submit" value="Submit">
    </div>
</form>
    <!-- Button to reveal the content -->
    <button class="button is-primary" onclick="toggleInfo()">Show Info</button>

    <!-- The hidden content -->
    <div id="clientinfo" class="table-container" style="display: none;">
        <table class="table is-fullwidth is-striped">
            <thead>
                <tr>
                    <th>Index</th>
                    <th>Information</th>
                </tr>
            </thead>
            <tbody>
                {% for element in clientinfo %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ element }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="images-container">
        {% if images %}
            {% for img in images %}
                <div class="image-item">
                    <img src="{{ img.image }}" alt="Uploaded image {{ img.name }}">
                    <p>Name: {{ img.name }}</p>
                    <p>Upload Date: {{ img.upload_date }}</p>
                </div>
            {% endfor %}
        {% else %}
            <p>No images found</p>
        {% endif %}
    </div>

    <script>
        function toggleInfo() {
            var infoDiv = document.getElementById("clientinfo");
            var button = document.querySelector("button");

            if (infoDiv.style.display === "none" || infoDiv.style.display === "") {
                infoDiv.style.display = "block";
                button.textContent = "Hide Info";
            } else {
                infoDiv.style.display = "none";
                button.textContent = "Show Info";
            }
        }
    </script>
</body>

{% endblock %}